@model Treino.ViewModels.ViewModels.VeiculoViewModel
@{
    ViewData["Title"] = "Veículos";
}
<div class="position-relative overflow-hidden text-center bg-light">
    <div class="col-md-12 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal"> Api Studio Ghibi - @ViewData["Title"] </h1>
        <p class="lead font-weight-normal">Requisição para Listar todos os @ViewData["Title"] do Studio Ghibi.</p>
    </div>
</div>

@foreach (var veiculo in Model.ListaVeiculos)
{
    <div class="w-100 my-md-3 pl-md-3 rounded-2">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">@veiculo.Name</h2>
                <p class="small">Descrição: @veiculo.Description</p>
                <p class="lead">Tamanho: @veiculo.Length | Classe: @veiculo.VehicleClass </p>
                <p class="small">Url para essa requisição: @veiculo.Url</p>
                <a asp-controller="Veiculos" asp-action="ObtemVeiculo" asp-route-id="@veiculo.Id" class="btn btn-info">Detalhes</a>
            </div>
        </div>
    </div>
}

@foreach (var filme in Model.ListaFilme)
{
    <div class="w-100 my-md-3 pl-md-3">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">@filme.title</h2>
                <p class="lead">Japonês: @filme.original_title | Romanizado: @filme.original_title_romanised</p>

                <p class="small">Id: @filme.id</p>

                <p class="lead">@filme.description </p>
                <p class="lead">Produção: @filme.producer | Data de Lançamento: @filme.release_date</p>
                <p class="lead">Nota: @filme.rt_score | Duração: @filme.running_time min</p>
                <p class="small">Url para essa requisição: @filme.url</p>

                <a asp-controller="Filmes" asp-action="ObtemFilme" asp-route-id="@filme.id" class="btn btn-info">Detalhes</a>

            </div>
            <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <h3 class="text-dark">Complementos</h3>
                @Model.Pessoa.age
            </div>
        </div>
    </div>
}




